input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: arial;
  font-size: 14px;
}

table, th, td {
  padding: 7px;
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 75%;
  margin-bottom: 10px;
}

table.clienttable {
  width: inherit;
}

table.clienttable th {
  text-align: right;
  background: #ECECEC;
}

.grey, thead {
  background: #ECECEC;
}

input, button {
  cursor: pointer;
  font-size: 14px;
}

td.action_buttons {
  display: flex;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
}

tr:first-child td.action_buttons {
  border-top: 0px;
}

td.action_buttons form {
  margin-right: 7px;
}

#deleteModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 30%;
  top: 10%;
  overflow: auto;
  background-color: #ECECEC;
  padding: 10px;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
}

#deleteModal h4 {
  margin: 0px 0px 10px 0px;
}
